<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
   
    <!-- 
      HTTPListener URL Prefix
      IMPORTANT: Make sure this value is trailed with an ending / or very bad
      things may happen. When EVE fixes the IGB trust issue, you can change
      this back to "http://localhost:9999/" or whatever port you want!
    -->
    <add key="URLPrefix" value="http://localhost/" />
    <!-- Font Face and Size Variables -->
    <add key="FontName" value="Arial" />
    <add key="FontSize_Header" value="4" />
    <add key="FontSize_Normal" value="2" />
    <add key="FontSize_Small" value="2" />
    <add key="FontSize_Tiny" value="1" />
    <!-- Page and Font Colors -->
    <add key="PageBG_Color" value="#000000" />
    <add key="DefaultFont_Color" value="#FFFFFF" />
    <add key="TextColor" value="#FFFFFF" />
    <add key="LinkColor" value="#00FF00" />
    <add key="VLinkColor" value="#00FF00" />
    <add key="ALinkColor" value="#00FF00" />
    <!-- Table Colors -->
    <add key="MainBG_Color" value="#004040" />
    <add key="ItemsBG_Color" value="#00AEAE" />
    
    <!-- Optional: Background image URL -->
    <!-- <add key="Background_Image" value="http://img638.imageshack.us/img638/2862/34294516.jpg"/> -->
    <add key="Background_Image" value=""/>
    
  </appSettings>
</configuration>